<footer class="mw8 center pa3 ph6-ns tc" itemscope itemtype="http://schema.org/WPFooter">
  <p class="f5 lh-copy mv3 dib">This website is property of </p> <h1 class="dib f5 lh-copy mv0">Shane Boland.</h1> <p class="f5 lh-copy mv3 dib"> No trespassing. Beware of the dog.</p>
  <p class="mv3">
    <a href="https://github.com/shanetheboland" title="My GitHub Profile" class="f5 dib pr2 pl0 link mid-gray dim red">GitHub</a>
    <a href="{{ "/contact" | prepend: site.github.url }}" title="Contact Me" class="f5 dib ph2 link mid-gray dim red">Contact</a>
  </p>
</footer>