<footer class="mw8 center pa3 ph6-ns" itemscope itemtype="http://schema.org/WPFooter">
  <p class="f5 db tl">This website is property of <strong>Shane Boland</strong>. No trespassing. Beware of the dog.</p>
  <div class="tl mt3">
    <a href="https://github.com/shanetheboland" title="My GitHub Profile" class="f5 dib pr2 pl0 link mid-gray dim red">GitHub</a>
    <a href="{{ "/contact" | prepend: site.github.url }}" title="Contact Me" class="f5 dib ph2 link mid-gray dim red">Contact</a>
  </div>
</footer>