<header class="mw8 center pa3 ph6-ns dt w-100">
		<a class="link dim mr3 v-mid db dtc-ns" href="{{ "/" | prepend: site.github.url }}" title="Home"><!--
			--><img src="{{ "/images/logo.svg" | prepend: site.github.url }}" alt="Shane Boland logo" height="50" class="w3 h3"><!-- 
	--></a><!--
	--><nav class="db v-mid mt4 mt0-ns tl tr-ns dtc-ns"><!--
		--><a class="link black-70 dim f5 f4-ns dib mr3 mr4-ns" href="{{ "/about" | prepend: site.github.url }}" title="About">About</a><!-- 
		--><a class="link black-70 dim f5 f4-ns dib mr3 mr4-ns" href="{{ "/projects" | prepend: site.github.url }}" title="Projects">Projects</a><!--
		--><a class="link black-70 dim f5 f4-ns dib mr3 mr4-ns" href="{{ "/now" | prepend: site.github.url }}" title="Now">Now</a><!--
		--><a class="link black-70 dim f5 f4-ns dib mr3 mr4-ns" href="{{ "/contact" | prepend: site.github.url }}" title="Contact">Contact</a><!--
		--><a class="link black-70 dim f5 f4-ns dib" href="javascript:randomlink()" id="js-random" title="Random Internet Awesomeness">Random</a><!--
	--></nav>
</header>
<!-- <header role="banner" itemscope itemtype="http://schema.org/WPHeader">
	<div class="db dt-ns border-box pa3 ph6-ns mw8 center cf">
	  <a class="db dtc-ns v-mid link dim tl" href="{{ "/" | prepend: site.github.url }}" title="Home" itemprop="headline">
	    <img src="{{ "/images/logo.svg" | prepend: site.github.url }}" alt="Shane Boland logo" height="50">
	  </a>
	  <nav class="db dtc-ns v-mid tl" itemscope itemtype="http://schema.org/SiteNavigationElement">
		  <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="{{ "/now" | prepend: site.github.url }}" title="Now page">Now</a>
	    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="{{ "/about" | prepend: site.github.url }}" title="About page">About</a>
	    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="{{ "/projects" | prepend: site.github.url }}" title="Projects page">Projects</a>
	    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="{{ "/contact" | prepend: site.github.url }}" title="Contact page">Contact</a>
	    <a class="link dim dark-gray f6 f5-ns dib" href="{{ "http://33.media.tumblr.com/951c3602b40056281a230d3a93393a10/tumblr_inline_nyuwhdNEXO1rusaov_500.gif" | prepend: site.github.url }}" title="Random Awesomeness">Random</a>
	  </nav>
	</div>
</header> -->