<header role="banner" itemscope itemtype="http://schema.org/WPHeader">
	<div class="db dt-ns w-100 border-box pa3 ph6-ns mw9">
	  <a class="db dtc-ns v-mid mid-gray link dim w-100 w-25-ns tl tl-ns mb2 mb0-ns gold" href="{{ "/" | prepend: site.github.url }}" title="Home" itemprop="headline">
	    Shane<br>Boland<br>dot com
	  </a>
	  <nav class="db dtc-ns v-mid w-100 w-75-ns tl tr-ns" itemscope itemtype="http://schema.org/SiteNavigationElement">
		  <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="{{ "/now" | prepend: site.github.url }}" title="Now page">Now</a>
	    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="{{ "/about" | prepend: site.github.url }}" title="About page">About</a>
	    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="{{ "/projects" | prepend: site.github.url }}" title="Projects page">Projects</a>
	    <a class="link dim dark-gray f6 f5-ns dib" href="{{ "/contact" | prepend: site.github.url }}" title="Contact page">Contact</a>
	  </nav>
	</div>
</header>