/* Colors */

// gold text
.gold {
	color: #DC143C;
}

.red{
	color: #DC143C;
}

.pizza-list {
	list-style-type: none;
}
.pizza-list > li {
  text-indent: -1.4em;
}
.pizza-list > li:before {
	content: '🍕';
	display: block;
	float: left;
	width: 1.2em;
	padding-right: 5px;
}

.pizza-list > li:nth-child(odd):before {
	content: '💸 ';
}


.js-logo {position: relative;}